/* CONFIG */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;600&display=swap");
body {
  --main: #222222;
  --background: #fefefe;
  min-height: 100vh;
}

body.dark-theme {
  --main: #fefefe;
  --background: #222222;
}

@media (prefers-color-scheme: dark) {
  /* defaults to dark theme */
  body {
    --main: #fefefe;
    --background: #222222;
  }
  body.light-theme {
    --main: #222222;
    --background: #fefefe;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  font-weight: normal;
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: #ee2299;
}

a:visited {
  color: #ee2299;
}

ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: "DM Sans", Helvetica, sans-serif;
  color: var(--main);
  background-color: var(--background);
}

/* LAYOUT - MOBILE/ALL */
.container {
  max-width: 900px;
  width: 95%;
  margin: auto;
  display: -ms-grid;
  display: grid;
  grid-gap: 1rem;
  -ms-grid-columns: 95vw;
      grid-template-columns: 95vw;
  -ms-grid-rows: 100px 1fr minmax(100px 1fr) 100px;
      grid-template-rows: 100px 1fr minmax(100px 1fr) 100px;
  min-height: 100vh;
}

.sidebar {
  grid-column: 1/-1;
  -ms-grid-row: 3;
  grid-row: 3;
}

.header {
  -ms-grid-row: 1;
  grid-row: 1;
}

.header,
.footer {
  grid-column: 1 / -1;
}

.main {
  -ms-grid-row: 2;
  grid-row: 2;
}

.footer {
  grid-column: 1 / -1;
  -ms-grid-row: 5;
  grid-row: 5;
  height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.article-content {
  margin-left: 1rem;
}

.article-content img {
  width: 100%;
}

figure {
  max-width: 500px;
}

figure figcaption {
  color: #666666;
  font-style: italic;
  text-align: center;
}

figure img {
  max-width: 100%;
}

article.window {
  margin-bottom: 2rem;
}

.pixel {
  -ms-interpolation-mode: nearest-neighbor;
      image-rendering: -webkit-optimize-contrast;
      image-rendering: -o-pixelated;
      image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

.article-list {
  padding-bottom: 1rem;
  /*
  .short-date {
    text-transform: uppercase;
    padding-right: 10px;
    order: -1;
    font-family: $header;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    .year {
      font-weight: 600;
      font-size: 2rem;
    }
  }
  */
}

.article-list .article-info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: fit-content(50px) 1fr;
      grid-template-columns: fit-content(50px) 1fr;
  -ms-grid-rows: fit-content(50px) 1fr;
      grid-template-rows: fit-content(50px) 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.article-list .article-info h2 {
  margin: 0;
}

.article-list .tags {
  -ms-grid-column: 2;
  grid-column: 2;
  grid-row: -1;
}

.article-info {
  margin: 1rem 0;
}

.pagination-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

/* LAYOUT - SCREEN */
@media screen and (min-width: 900px) {
  .container {
    -ms-grid-columns: 3fr 1fr;
        grid-template-columns: 3fr 1fr;
    -ms-grid-rows: 100px 1fr 100px;
        grid-template-rows: 100px 1fr 100px;
  }
  .sidebar {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 2;
    grid-column: 2;
  }
  .footer {
    -ms-grid-row: 3;
    grid-row: 3;
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .article-content {
    margin-left: 4rem;
  }
}

/* MENUS */
.site-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-nav li {
  display: block;
  margin: 0 10px;
  font-weight: 600;
}

.site-nav a {
  text-decoration: none;
  border-bottom: 3px solid #ee2299;
  color: #ee2299;
  -webkit-transition: background 0.2s linear;
  transition: background 0.2s linear;
}

.site-nav a:hover {
  background: #ee2299;
  color: var(--background);
}

.tags {
  padding-bottom: 0.5rem;
  padding-left: 1rem;
}

.tags ul.tags-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin-left: 0;
  padding: 0;
}

.tags ul.tags-list li {
  display: block;
  margin-right: 0.5rem;
}

.tags ul.tags-list li a {
  background-color: #f251af;
  -webkit-box-shadow: -2px 0 0 #f251af, 2px 0 0 #f251af, 0 2px 0 #f251af, 0 -2px 0 #f251af;
          box-shadow: -2px 0 0 #f251af, 2px 0 0 #f251af, 0 2px 0 #f251af, 0 -2px 0 #f251af;
  color: #222222;
  padding: 4px 5px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.tags ul.tags-list li a:hover {
  background-color: #f581c5;
  -webkit-box-shadow: -2px 0 0 #f581c5, 2px 0 0 #f581c5, 0 2px 0 #f581c5, 0 -2px 0 #f581c5, 4px 2px 0 rgba(0, 0, 0, 0.15), 2px 4px 0 rgba(0, 0, 0, 0.15);
          box-shadow: -2px 0 0 #f581c5, 2px 0 0 #f581c5, 0 2px 0 #f581c5, 0 -2px 0 #f581c5, 4px 2px 0 rgba(0, 0, 0, 0.15), 2px 4px 0 rgba(0, 0, 0, 0.15);
}

.tags ul.tags-list li a:active {
  background-color: #ee2299;
}

.tags ul.tags-list li a.yuanyuan {
  background-color: #44ee33;
  -webkit-box-shadow: -2px 0 0 #44ee33, 2px 0 0 #44ee33, 0 2px 0 #44ee33, 0 -2px 0 #44ee33;
          box-shadow: -2px 0 0 #44ee33, 2px 0 0 #44ee33, 0 2px 0 #44ee33, 0 -2px 0 #44ee33;
}

.tags ul.tags-list li a.yuanyuan:hover {
  background-color: #6ff262;
  -webkit-box-shadow: -2px 0 0 #6ff262, 2px 0 0 #6ff262, 0 2px 0 #6ff262, 0 -2px 0 #6ff262, 4px 2px 0 rgba(0, 0, 0, 0.15), 2px 4px 0 rgba(0, 0, 0, 0.15);
          box-shadow: -2px 0 0 #6ff262, 2px 0 0 #6ff262, 0 2px 0 #6ff262, 0 -2px 0 #6ff262, 4px 2px 0 rgba(0, 0, 0, 0.15), 2px 4px 0 rgba(0, 0, 0, 0.15);
}

.tags ul.tags-list li a.yuanyuan:active {
  background-color: #25dc12;
}

.tags ul.tags-list li a.dini {
  background-color: #ffdd22;
  -webkit-box-shadow: -2px 0 0 #ffdd22, 2px 0 0 #ffdd22, 0 2px 0 #ffdd22, 0 -2px 0 #ffdd22;
          box-shadow: -2px 0 0 #ffdd22, 2px 0 0 #ffdd22, 0 2px 0 #ffdd22, 0 -2px 0 #ffdd22;
}

.tags ul.tags-list li a.dini:hover {
  background-color: #ffe555;
  -webkit-box-shadow: -2px 0 0 #ffe555, 2px 0 0 #ffe555, 0 2px 0 #ffe555, 0 -2px 0 #ffe555, 4px 2px 0 rgba(0, 0, 0, 0.15), 2px 4px 0 rgba(0, 0, 0, 0.15);
          box-shadow: -2px 0 0 #ffe555, 2px 0 0 #ffe555, 0 2px 0 #ffe555, 0 -2px 0 #ffe555, 4px 2px 0 rgba(0, 0, 0, 0.15), 2px 4px 0 rgba(0, 0, 0, 0.15);
}

.tags ul.tags-list li a.dini:active {
  background-color: #eec900;
}

.article-single .tags {
  padding-top: 1rem;
}

.pagination {
  margin-top: 50px;
  text-align: center;
}

.pagination .pagination-number {
  color: #ee2299;
  font-weight: 600;
}

.pagination a {
  color: #ee2299;
}

/* CONFIG
-----------------------------------------*/
::root {
  --hue: 325deg;
  --saturation: 85.71429%;
}

@font-face {
  font-family: "Nintendo DS BIOS";
  src: url(../fonts/Nintendo-DS-BIOS.ttf);
}

/* MIXINS
-----------------------------------------*/
@font-face {
  font-family: "Nintendo DS BIOS";
  src: url(../Nintendo-DS-BIOS.ttf);
}

.title-bar,
button,
input,
label,
option,
select,
textarea,
ul.tree-view,
.status-bar,
.tags a {
  font-smooth: never;
  -webkit-font-smoothing: none;
  font-family: "Nintendo DS BIOS", Arial;
  font-size: 24px;
  font-weight: normal;
}

button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  border-radius: 0;
  min-width: 75px;
  min-height: 23px;
  padding: 0 12px;
  background: #ebbcd8;
  -webkit-box-shadow: inset -1px -1px #402635, inset 1px 1px #fff, inset -2px -2px #9f6085, inset 2px 2px #ded3da;
          box-shadow: inset -1px -1px #402635, inset 1px 1px #fff, inset -2px -2px #9f6085, inset 2px 2px #ded3da;
}

button.read-more {
  margin-top: 1rem;
  margin-left: 1rem;
}

button.read-more:hover {
  cursor: pointer;
}

button:not(:disabled):active {
  -webkit-box-shadow: inset -1px -1px #fff, inset 1px 1px #0a0a0a, inset -2px -2px #dfdfdf, inset 2px 2px grey;
          box-shadow: inset -1px -1px #fff, inset 1px 1px #0a0a0a, inset -2px -2px #dfdfdf, inset 2px 2px grey;
}

@media (false) {
  button:not(:disabled):hover {
    -webkit-box-shadow: inset -1px -1px #fff, inset 1px 1px #0a0a0a, inset -2px -2px #dfdfdf, inset 2px 2px grey;
            box-shadow: inset -1px -1px #fff, inset 1px 1px #0a0a0a, inset -2px -2px #dfdfdf, inset 2px 2px grey;
  }
}

button:focus {
  outline: 1px dotted #000;
  outline-offset: -4px;
}

button::-moz-focus-inner {
  border: 0;
}

:disabled,
:disabled + label {
  color: grey;
}

:disabled + label,
button:disabled {
  text-shadow: 1px 1px 0 #fff;
}

/* WINDOW CONTENT
-----------------------------------------*/
.window {
  -webkit-box-shadow: inset -1px -1px #402635, inset 1px 1px #fff, inset -2px -2px #9f6085, inset 2px 2px #ded3da;
          box-shadow: inset -1px -1px #402635, inset 1px 1px #fff, inset -2px -2px #9f6085, inset 2px 2px #ded3da;
  background: #ebbcd8;
  padding: 3px;
}

.window .article-content {
  margin-left: 1rem;
  margin-right: 1rem;
}

.article-list > .article-content {
  display: block;
  background: var(--background);
  -webkit-box-shadow: inset -1px -1px #fff, inset 1px 1px #9f6085, inset -1px -1px #ded3da, inset 2px 2px #402635;
          box-shadow: inset -1px -1px #fff, inset 1px 1px #9f6085, inset -1px -1px #ded3da, inset 2px 2px #402635;
  padding: 6px;
  margin: 0;
}

/* TITLE BAR
-----------------------------------------*/
.title-bar {
  background: #ee2299;
  background: -webkit-gradient(linear, left top, right top, from(#ee2299), color-stop(#ff1111), to(#ff7700));
  background: linear-gradient(90deg, #ee2299, #ff1111, #ff7700);
  padding: 3px 2px 3px 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title-bar.inactive {
  background: -webkit-gradient(linear, left top, right top, from(grey), to(#b5b5b5));
  background: linear-gradient(90deg, grey, #b5b5b5);
}

.title-bar-text {
  font-weight: normal;
  color: #fff;
  letter-spacing: 0;
  padding-left: 1rem;
  margin-right: 24px;
}

.title-bar-text > h1,
.title-bar-text h2,
.title-bar-text h3,
.title-bar-text h4,
.title-bar-text h5,
.title-bar-text h6 {
  margin: 0.5rem;
}

.title-bar-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.title-bar-controls .fake-button {
  padding: 0;
  display: block;
  background: #ebbcd8;
  min-width: 32px;
  min-height: 28px;
  -webkit-box-shadow: inset -2px -2px #402635, inset 2px 2px #fff, inset -4px -4px #9f6085, inset 4px 4px #ded3da;
          box-shadow: inset -2px -2px #402635, inset 2px 2px #fff, inset -4px -4px #9f6085, inset 4px 4px #ded3da;
}

.fake-button:active {
  -webkit-box-shadow: inset -2px -2px #fff, inset 2px 2px #402635, inset -2px -2px #ded3da, inset 4px 4px #9f6085;
          box-shadow: inset -2px -2px #fff, inset 2px 2px #402635, inset -2px -2px #ded3da, inset 4px 4px #9f6085;
}

.title-bar-controls button:active {
  padding: 0;
}

.title-bar-controls button:focus {
  outline: none;
}

.title-bar-controls [data-label="Minimize"] {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='6' height='2' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23000' d='M0 0h6v2H0z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: bottom 6px left 8px;
  background-size: 12px 4px;
}

.title-bar-controls [data-label="Maximize"] {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='9' height='9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9 0H0v9h9V0zM8 2H1v6h7V2z' fill='%23000'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: top 4px left 6px;
  background-size: 18px 18px;
}

.title-bar-controls [data-label="Restore"] {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='8' height='9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23000' d='M2 0h6v2H2zM7 2h1v4H7zM2 2h1v1H2zM6 5h1v1H6zM0 3h6v2H0zM5 5h1v4H5zM0 5h1v4H0zM1 8h4v1H1z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: top 4px left 6px;
  background-size: 16px 18px;
}

.title-bar-controls [data-label="Help"] {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='6' height='9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23000' d='M0 1h2v2H0zM1 0h4v1H1zM4 1h2v2H4zM3 3h2v1H3zM2 4h2v2H2zM2 7h2v2H2z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: top 4px left 10px;
  background-size: 12px 18px;
}

.title-bar-controls [data-label="Close"] {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='8' height='7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 0h2v1h1v1h2V1h1V0h2v1H7v1H6v1H5v1h1v1h1v1h1v1H6V6H5V5H3v1H2v1H0V6h1V5h1V4h1V3H2V2H1V1H0V0z' fill='%23000'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: top 6px left 8px;
  background-size: 16px 14px;
}

/* STATUS BAR
-----------------------------------------*/
.status-bar {
  color: #222222;
  margin: 0 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2px;
}

.status-bar-field {
  -webkit-box-shadow: inset -1px -1px #fff, inset 1px 1px grey, inset -2px -2px #dfdfdf;
          box-shadow: inset -1px -1px #fff, inset 1px 1px grey, inset -2px -2px #dfdfdf;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 2px 3px;
  margin: 0;
}

/* TREE VIEW
-----------------------------------------*/
ul.tree-view {
  display: block;
  background: #fff;
  -webkit-box-shadow: inset -1px -1px #fff, inset 1px 1px grey, inset -2px -2px #dfdfdf, inset 2px 2px #0a0a0a;
          box-shadow: inset -1px -1px #fff, inset 1px 1px grey, inset -2px -2px #dfdfdf, inset 2px 2px #0a0a0a;
  padding: 6px;
  margin: 0;
}

ul.tree-view li {
  list-style-type: none;
}

ul.tree-view ul {
  margin-left: 16px;
  padding-left: 16px;
  border-left: 1px dotted grey;
}

ul.tree-view ul > li {
  position: relative;
}

ul.tree-view ul > li:before {
  content: "";
  display: block;
  position: absolute;
  left: -16px;
  top: 6px;
  width: 12px;
  border-bottom: 1px dotted grey;
}

ul.tree-view ul > li:last-child:after {
  content: "";
  display: block;
  position: absolute;
  left: -20px;
  top: 7px;
  bottom: 0;
  width: 8px;
  background: #fff;
}

ul.tree-view details {
  margin-top: 0;
}

ul.tree-view details[open] summary {
  margin-bottom: 0;
}

ul.tree-view ul details > summary:before {
  margin-left: -22px;
  position: relative;
  z-index: 1;
}

ul.tree-view details > summary:before {
  text-align: center;
  display: block;
  float: left;
  content: "+";
  border: 1px solid grey;
  width: 8px;
  height: 9px;
  line-height: 8px;
  margin-right: 5px;
  padding-left: 1px;
  background-color: #fff;
}

ul.tree-view details[open] > summary:before {
  content: "-";
}

/* TASK BAR
-----------------------------------------*/
.dropbtn {
  position: fixed;
  bottom: 2px;
  left: 2px;
  background-color: #ff7700;
  color: white;
  padding: 0;
  font-size: 24px;
  border: none;
  height: 32px;
  width: 100px;
  z-index: 1;
}

.dropup {
  position: relative;
  display: inline-block;
}

.dropup-content {
  display: none;
  width: 100px;
  position: fixed;
  background-color: #f1f1f1;
  left: 0px;
  bottom: calc(32px + 2px);
  z-index: 2;
}

.dropup-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropup-content a:hover {
  background-color: #ee2299;
  color: #fefefe;
}

.dropup:hover .dropup-content {
  display: block;
}

.dropup:hover .dropbtn {
  -webkit-box-shadow: inset -1px -1px #fff, inset 1px 1px #0a0a0a, inset -2px -2px #dfdfdf, inset 2px 2px grey;
          box-shadow: inset -1px -1px #fff, inset 1px 1px #0a0a0a, inset -2px -2px #dfdfdf, inset 2px 2px grey;
  outline: 1px dotted #000;
  outline-offset: -4px;
}

.taskbar {
  z-index: 3;
  background-color: #ebbcd8;
  width: 100%;
  height: calc(32px + 4px);
  position: fixed;
  bottom: 0;
  left: 0;
  border-top: 2px solid #ded3da;
}

.time {
  font-size: 24px;
  background-color: #ebbcd8;
  font-family: 'Nintendo DS BIOS', monospace;
  color: #222222;
  position: fixed;
  bottom: 2px;
  right: 2px;
  height: calc(32px - 2px);
  width: calc(100px - 2px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: inset -1px -1px #fff, inset 1px 1px #9f6085, inset -1px -1px #ded3da, inset 2px 2px #402635;
          box-shadow: inset -1px -1px #fff, inset 1px 1px #9f6085, inset -1px -1px #ded3da, inset 2px 2px #402635;
}

/* Global styles */
p {
  margin: 0.5rem;
  line-height: 1.5;
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
#logo {
  margin: 2rem 0 0.8rem;
  font-family: "Space Grotesk", Helvetica, sans-serif;
  font-weight: 600;
  line-height: 1.28;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

small {
  font-size: 0.8rem;
}

/* Link styles */
.article-single .post-title a:link, .article-single .post-title a:visited,
.article-content a:link,
.article-content a:visited {
  text-decoration: none;
  background: -webkit-gradient(linear, left top, right top, from(#f251af), color-stop(50%, #ff1111), to(#ff7700));
  background: linear-gradient(90deg, #f251af 0%, #ff1111 50%, #ff7700 100%);
  background-size: cover;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  background-clip: text;
}

.post-title a:link, .post-title a:visited,
.article-content a:link,
.article-content a:visited {
  text-decoration: none;
}

.article-content a:link, .article-content a:visited {
  text-decoration: underline;
  font-weight: bold;
}

h2.post-title {
  margin: 0.5rem;
}

.article-list > .post-title > a {
  color: #222222;
}

.article-list > .post-title > a:hover {
  text-decoration: underline;
}

.article-content a:hover {
  text-decoration: none;
  -webkit-text-fill-color: var(--background);
  text-fill-color: var(--background);
  background-clip: border-box;
  color: var(--background);
}

.article-content > p {
  margin-left: 1rem;
}

.article-content ul {
  margin-left: 2rem;
}

.article-content ul li {
  line-height: 1.5rem;
}

hr {
  color: rgba(var(--main), 1);
  border-top: 1px solid rgba(var(--main), 1);
}

code {
  color: #fefefe;
  background-color: #2f1e2e;
  font-family: "Mono Lisa", "Fira Code", monospace;
}

.post-title {
  font-size: 2.5rem;
  line-height: 0.95;
}

.date.full-date {
  font-style: italic;
}

.latest-posts a {
  text-decoration: none;
  color: #000;
  display: block;
  padding: 0.5rem;
  padding-left: 1rem;
}

.latest-posts a:hover, .latest-posts a:focus {
  background-color: #ee2299;
  color: #fff;
}

.latest-posts ul.tree-view li,
.latest-posts ul.tree-view {
  margin: 0;
  padding: 0;
}

.lightswitch-container {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-self: flex-end;
}

.lightswitch-container label {
  padding-left: 0.5rem;
  font-size: 16px;
}

input[role="switch"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
  display: inline-block;
  height: 2.4em;
  width: 1.4em;
  margin: -0.2em 0;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 0;
  border: none;
  border-radius: 0.7em;
  background: #ee2299;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
}

input[role="switch"]::before {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  width: 1em;
  height: 1em;
  left: 0;
  top: 0;
  background: #222222;
  border-radius: 50%;
  -webkit-transform: translate(20%, 20%);
          transform: translate(20%, 20%);
  -webkit-transition: -webkit-transform 250ms ease;
  transition: -webkit-transform 250ms ease;
  transition: transform 250ms ease;
  transition: transform 250ms ease, -webkit-transform 250ms ease;
  color: rgba(0, 0, 0, 0.3);
  line-height: 1;
}

input[role="switch"]:focus::before {
  background-color: rgba(255, 255, 255, 0.9);
}

input[role="switch"]:checked {
  background-color: #ee2299;
}

input[role="switch"]:checked::before {
  -webkit-transform: translate(20%, 120%);
          transform: translate(20%, 120%);
}

input[role="switch"]:indeterminate::before {
  -webkit-transform: translate(20%, 70%);
          transform: translate(20%, 70%);
  content: "-";
}

input[role="switch"]:disabled:before {
  opacity: 0.4;
}

#logo > a:link,
#logo > a:visited {
  color: #ee2299;
}

/* -------
WONDERFUL HEAD */
#head {
  width: 100vw;
  width: 300px;
  margin: auto;
  position: fixed;
  right: 0;
  bottom: -110px;
  -webkit-transition: bottom 0.5s;
  transition: bottom 0.5s;
  z-index: 2;
  pointer-events: none;
}

#dini-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#dini-wrap > img {
  position: relative;
  bottom: -40px;
  width: 250px;
  -ms-interpolation-mode: nearest-neighbor;
      image-rendering: -webkit-optimize-contrast;
      image-rendering: -o-pixelated;
      image-rendering: pixelated;
  image-rendering: crisp-edges;
  image-rendering: -moz-crisp-edges;
}
